// --------------------------------------------------------------------------
// Overrides Bootstrap variables
// --------------------------------------------------------------------------

$brand-primary: #ff61a0;
$body-color: #777;

// --------------------------------------------------------------------------
// Bootstrap import
// --------------------------------------------------------------------------

@import '../../bootstrap-sass/bootstrap';

/* --------------------------------------------------------------------------
 * Custom overrides
 * --------------------------------------------------------------------------*/

/* Base
 * --------------------------------------------------------------------------
 * html: bg-c #fff
 * a: #ff61a0
 * body: 18px 'Open Sans', sans-serif #777
 * h1: 66px 'Open Sans', sans-serif 300 #555
 * h2: 26px 'Istok Web', sans-serif 700 #555 uppercase mt 50px
 * h3: 21px 'Open Sans', sans-serif 700 #777 mt 30px
 * .small: 16px
 * .sub-title: 66px 'Shadows Into Light Two', cursive
 * -------------------------------------------------------------------------- */

html {
  background-color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $body-color;
}

img {
  height: auto;
  max-width: 100%;
}

/* Typography */

h1,
.h1,
h2,
.h2 {
  color: $gray;
}

h1,
.h1 {
  font-weight: 300;
}

h2,
.h2,
h3,
.h3 {
  font-weight: 700;
}

h2,
.h2 {
  font-size: 26px;
  font-family: 'Istok Web', sans-serif;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: 21px;
}

.sub-title {
  font-size: 200%;
  font-family: 'Shadows Into Light Two', cursive;
  color: $brand-primary;
}

/* Helpers
 * -------------------------------------------------------------------------- */
.mb0 { margin-bottom: 0; }


/* Modules
 * --------------------------------------------------------------------------
 * .footer__top bg-c #555 c #fff fs 21px pt 30px pb 20px
 * .hero mb 80px
 * .navigation mt 20px
 * .navigation__item d inline-block
 * .navigation__link h 80px f 18px 'Istok Web', sans-serif 700 t-d none
 * .navigation__link:hover bg-c #ff61a0 c #fff
 * -------------------------------------------------------------------------- */

.brand {
  @media (max-width: $screen-sm-max) {
    display: block;
    height: 34px;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.brand img {
  @media (max-width: $screen-sm-max) {
    height: 100%;
  }
}

.copyright {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footer {
  margin-top: 0;
  background-color: $gray;
  color: #fff;
}

.footer__container {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.footer__title {
  color: $brand-primary;
  margin: 0 0 15px;
}

.icon-bar { background-color: #000; }

.media {
  overflow: hidden;
}
.media__cover {
  float: left;
  margin-right: 1em;
}
.media__body {
  overflow: hidden;
}

.navigation {
  float: right;
  padding-left: 0;
  list-style: none;
  @media (max-width: $screen-sm-min) {
    float: none;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-top: 8px;
  }
}

.navigation__item {
  float: left;
  @media (max-width: $screen-sm-min) {
    float: none;
  }
}

.navigation__link {
  display: block;
  padding: 1.5em;
  font-family: 'Istok Web', sans-serif;
  font-size: 18px;
  line-height: 1.45;
  color: $gray;
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: $screen-sm-max) {
    padding: .5em;
    font-size: inherit;
  }
}

.navigation__link:active,
.navigation__link:focus,
.navigation__link:hover {
  background-color: $brand-primary;
  color: $gray;
  text-decoration: none;
}

.page {
  margin-top: 6em;
}
.page__section--header {
  border: 0;
  text-align: center;
}

.page__section {
  margin-bottom: 3em;
}

.skip {
  height: 1.5em;
}

.social {
  margin-top: 15px;
}

// --------------------------------------------------------------------------
// Sub-theme import
// -------------------------------------------------------------------------- */

//@import 'includes/variables', 'includes/mixins', 'includes/mobile-nav', 'includes/bugfixes';
//@import 'includes/home', 'includes/blog', 'includes/style-guide';
